{% extends "BasePage.html" %}
{% load static %}
{% block title %}Healthcare{% endblock %}

{% block more-style %}
<link rel="stylesheet" href="{% static '/CSS/HealthcareMain.css' %}">
{% endblock %}

{% block content %}
<div class="main">
    <div class="contents">
        <div class="container popup" id="PopupHealthcare">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="content">
                    <div class="input-box">
                        <label for="DestinationType">Destination</label>
                        <select name="DestinationType" id="DestinationType" data-place-type-url="{% url 'ajaxloaddestinationbikes' %}">
                            <option selected>-------------------------------</option>
                        </select>
                    </div>

                    <div class="input-box">
                        <label for="PickupType">Pickup Point</label>
                        <select name="PickupType" id="PickupType" data-hospital-url="{% url 'ajaxloadpickupbikes' %}">
                            <option selected>--------------------------------</option>
                        </select>
                    </div>
                    <div class="input-box">
                        <label for="Time">Select Time</label>
                        <select name="Time" id="Time">
                            <option selected>-----------------------------</option>
                        </select>
                    </div>
                </div>

                <div class="button-container">
                    <button type="submit" name="save" value="confirm">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{% static '/JAVASCRIPT/Healthcare.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}
