{% extends "BasePage.html" %}
{% load static %}
{% block title %}TRANSPORTATION{% endblock %}
{% block more-style %}
<link rel="stylesheet" href="{% static 'CSS/TransportationMain.css' %}">
<link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" crossorigin="anonymous"> 
{% endblock %}
{% block content %}   
  <div class="body">
    <div class="wrapper">

      <!-- In City Option -->
      <a href="{% url 'InCity' %}" class="box">
        <i class="fa fa-map-pin"></i>
        <p>In City</p>
      </a>

      <!-- City to City Option -->
      <a href="{% url 'findbus' %}" class="box">
        <i class="fa fa-map-signs "></i>
        <p>City to City</p>
      </a>
      <!-- Country to Country Option -->
      <a href="{% url 'findbus' %}" class="box">
        <i class="fa duotone fa-map"></i>
        <p>Country to Country</p>
      </a>
    </div> 
  </div>     
{% endblock %}
